<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clínica Revita</title>
	<link rel="stylesheet" type="text/css" href="/static/css/cadastro.css">
	<link rel="icon" href="/static/img/lotus.png">

</head>
<body id="page-give-classes">

	<div id="container">
        <header class="page-header">
            <div class="top-bar-container">
				<a href="#">
				<img src="/static/img/1486348526-arrow-back-backwards-repeat-previous_80453.png" alt="Voltar">
				</a>
				<img src="/static/img/logo_branco_ret.jpeg" alt="Revita">
			</div>

            <div class="header-content">
						<strong>Vamos agendar sua aula ou avaliação?</strong>
						<p>O primeiro passo é preencher esse formulário</p>

            </div>
		</header>

		<main>
			<form method="POST"  action="{%url 'cadastro'%}" id="create-class">
			{% csrf_token %}
				<fieldset>
					<legend>Seus Dados</legend>

					<div class="input-block">
						<label for="name">Nome Completo</label>
						<input name="nome_completo" id="name" required>
					</div>
					<div class="input-block">
						<label for="datanasc">Data de Nascimento</label>
						<input type="datanasc" name="data_nascimento" id="datanasc" required>
					</div>
					<div class="input-block">
						<label for="endereco">Endereço</label>
						<input name="endereco" id="endereco" required>
					</div>
					<div class="input-block">
						<label for="whatsapp">Whatsapp <small>(somente números)</small></label>
						<input type="whatsapp" id="whatsapp" name="whatsapp" type="number" required>
					</div>
					<div class="input-block">
						<label for="email">E-mail</label>
						<input name="email" id="email" type="email" required>
					</div>
					<div class="textarea-block">
						<label for="relato">Conte-nos qual seu problema para podermos lhe direcionar à melhor profissional</label>
						<textarea name="problema" id="relato" required></textarea>
					</div>

				</fieldset>
                <fieldset id="schedule-items">
                    <legend>Horários disponíveis</legend>

                    <div class="schedule-item">

                        <div class="input-block">
							<label for="weekday">Dia da semana</label>
							<input type="dia_semana" id="weekday" name="weekday" required>
                        </div>

                        <div class="input-block">
                            <label for="time_from">Horário:</label>
                            <input type="horario" id="time_from" name="time_from" required>
                        </div>
                    </div>
                </fieldset>
            </formm>

            <footer>
                <button type="submit" form="create-class">Salvar cadastro</button>
            </footer>
        </main>
    </div>
			</form>
		</main>
	</div>
</body>
</html>